*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Cinzel', serif;

}

:root{
    --bg-color: #252850;
    --second-gb-color:#112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
}

html{
    font-size: 62.5%;
    
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

body::-webkit-scrollbar{
    width: 15px;
}
body::-webkit-scrollbar-thumb{
    background: var(--main-color);
    border-radius: 50px;
}
body::-webkit-scrollbar-thumb:hover{
    background: var(--bg-color);
    border: 1px solid var(--main-color);
}

.Resenas{
    background: var(--bg-color);
}
.Resenas .contenidoss{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
   
}
/* .contenidoss::-webkit-scrollbar{
    width: 15px;
}
.contenidoss::-webkit-scrollbar-thumb{
    background: var(--bg-color);
    border: 1px solid var(--main-color);
    border-radius: 50px;
} */

h2#L{
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

.Resenas .sesion-resena{
    border: 1px solid transparent;
    margin: 5px;
    padding: 10px;
    background: var(--bg-color);
    border-radius: 10px;
    
}
.Resenas .div1 {
    grid-column: span 2 / span 2;
}

.Resenas .div2 {
    grid-column: span 2 / span 2;
    grid-column-start: 3;
}

.Resenas .div3 {
    grid-column: span 2 / span 2;
    grid-row-start: 2;
}

.Resenas .div4 {
    grid-column: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 2;
}
.sesion-resena iframe {
     width: 45vw;
    box-shadow: 
    #252850 0px 0px 0px 3px, 
    #00abf0 0px 0px 0px 6px, 
    #112e42 0px 0px 0px 9px, 
    #00abf0 0px 0px 0px 12px, 
    #252850 0px 0px 0px 15px;
    border-radius: 5px;
}

.Resenas h2 span{
    color: var(--main-color);
}

.logo2 img{
    width: 70px; /* Ajusta el tamaño según tus necesidades */
    height: auto; /* Para mantener la proporción de la imagen */
    margin-right: 40px;
    border-radius: 20px;
}

.piee{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-gb-color);

}
.pie-text p{
    font-size: 1.6rem;
    

}
.pie-icons {
    margin-left: 40px;
}


.pie-icons a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    padding: .8rem;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden;
}
.pie-icons a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}
.pie-icons a:hover::before{
    width: 100%;

}
.pie-icons a  {
    font-size: 2.4rem;
    color: var(--bg-color);
}
.pie-icons a:hover{
    color: var(--main-color);
}
@media (max-width: 1338px){
    .Resenas .sesion-resena{
       width: 700px;
        
    }
    .sesion-resena iframe {
      width: 600px;
    }
}  
@media (max-width: 1270px){
    .Resenas .sesion-resena{
        width: 600px;
         
    }
    .sesion-resena iframe {
      width: 500px;
    }

}
@media (max-width: 1070px){
    .contenidoss{
        flex-direction: column;
        align-items: center;
    }
    .Resenas iframe {
        width: 100%; /* Asegura que los divs ocupen todo el ancho del contenedor */
        margin: 10px 0; /* Espaciado entre divs en vertical */
    }
}
@media (max-width: 610px){
    .Resenas .sesion-resena{
        width: 500px;
         
    }
    .sesion-resena iframe {
      width: 500px;
      height: 500px;
    }
    .piee {
        flex-direction: column-reverse;
    }
    .piee p {
        margin-top: 2rem;
    }
    .piee .logo2 {
        margin-top: 2rem;
        margin-left: 66px;
    }
}
@media (max-width: 550px){
    .Resenas .sesion-resena{
        width: 400px;
         
    }
    .sesion-resena iframe {
      width: 400px;
      height: 400px;
    }
}
@media (max-width: 445px){
    .Resenas .sesion-resena{
        width: 300px;
         
    }
    .sesion-resena iframe {
      width: 300px;
      height: 300px;
    }
}