@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght300;400;500;600;700;800;900@&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Cinzel', serif;

}

:root{
    --bg-color: #252850;
    --second-gb-color:#112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
}

html{
    font-size: 62.5%;
    
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

body::-webkit-scrollbar{
    width: 15px;
}
body::-webkit-scrollbar-thumb{
    background: var(--main-color);
    border-radius: 50px;
}
body::-webkit-scrollbar-thumb:hover{
    background: var(--bg-color);
    border: 1px solid var(--main-color);
}
section{
    min-height: 100vh;
    padding: 1rem 9% 2rem;

}
h2#L{
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}
span {
    color: var(--main-color);
}
.innovation{
    
 text-align: center;
    
}
.innovation p{
    font-size: 2rem;
    margin: 2rem 0 4rem;
   
}
.innovation h3{
    font-size: 3.2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px var(--main-color);
}
.capturas{
    display: flex;
    overflow: auto;
    box-shadow: 
    #252850 0px 0px 0px 3px, 
    #00abf0 0px 0px 0px 6px, 
    #112e42 0px 0px 0px 9px, 
    #00abf0 0px 0px 0px 12px, 
    #252850 0px 0px 0px 15px;
    border-radius: 5px;
}
.capturas::-webkit-scrollbar{
    width: 15px;
}
.capturas::-webkit-scrollbar-thumb{
    background: var(--bg-color);
    border: 1px solid var(--main-color);
    border-radius: 50px;
}

.capturas .sesion-habilida span{
    font-size: 3.2rem;
    font-weight: 700;
    border-bottom: 1px solid var(--main-color);
   
}
.capturas .sesion-habilida{
    flex: 1;
    border: 1px solid transparent;
    margin: 5px;
    padding: 10px;
    background: var(--bg-color);
    border-radius: 10px;
    animation: animateBg 10s linear infinite;
}
.capturas .sesion-habilida img{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.parraf p{
    text-align: center;
}
.proyecto1 p{
    font-size: 2rem;
    margin: 2rem 0 4rem;
}
.proyecto2 {
    background: var(--second-gb-color);
}
.proyecto2 p{
    font-size: 2rem;
    margin: 2rem 0 4rem;
}
.proyecto3 p{
    font-size: 2rem;
    margin: 2rem 0 4rem;
}
.logo2 img{
    width: 70px; /* Ajusta el tamaño según tus necesidades */
    height: auto; /* Para mantener la proporción de la imagen */
    margin-right: 40px;
    border-radius: 20px;
}

.piee{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-gb-color);

}
.pie-text p{
    font-size: 1.6rem;
    

}
.pie-icons {
    margin-left: 40px;
}


.pie-icons a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    padding: .8rem;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden;
}
.pie-icons a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}
.pie-icons a:hover::before{
    width: 100%;

}
.pie-icons a  {
    font-size: 2.4rem;
    color: var(--bg-color);
}
.pie-icons a:hover{
    color: var(--main-color);
}
  